html{
    background-color: var(--color-gray);
    position: relative;

}

.Liste__Index{
    position: relative;
    top: 40px;
}

main {
    position: relative;
    padding: 45px;
}

main>p>a {
    color: var(--color-green);
}

main>p {
    font-family: var(--font-chakra-petch);
}

main>ul {
    font-family: var(--font-chakra-petch);
}

nav[class="menu"] {
    font-family: var(--font-chakra-petch);
}

main>img {
    margin-left: auto;
    margin-right: auto;
    width: 70% ;
    display: block;
} 

.logo__sffa__base {
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.formulaire>div {
    font-family: var(--font-chakra-petch);

}