html{
    background-color: var(--color-gray);
}

main>p {
    font-family: var(--font-chakra-petch);
}

nav[class="menu"] {
    font-family: var(--font-chakra-petch);
}

main>img {
    margin-left: auto;
    margin-right: auto;
    width: 70% ;
    display: block;
    

} 