:root {

    /* Styles de couleurs*/
    --color-purple:   rgba(100,31,169,1);
    --color-orange:   rgba(250,158,20,1);    
    --color-green:    rgba(48,171,28,1);
    --color-gray:     rgba(194,194,194,1);
    --color-darkgrey: rgba(103,103,103,1);
    --color-black:    rgba(0,0,0,1);
    --color-white:    rgba(255,255,255,1);

    /*Taille de polices*/


    /*Polices de caractère*/

    /*Variantes de fond*/
}