footer {
    background-color: var(--color-purple); 
    bottom: 0;
    left: 0;
    font-family: var(--font-chakra-petch)
}

h3 {
    color: var(--color-darkgrey);
}

p {
    color: var(--color-darkgrey);
}