footer {
    background-color: var(--color-purple); 
    bottom: 0;
    left: 0;
    font-family: var(--font-chakra-petch)
}

footer>h3 {
    color: var(--color-green);
}

footer>p {
    color: var(--color-green);
}