footer {
    position: absolute;
    background-color: var(--color-purple); 
    bottom: auto;
    left: 0;
    width: 100%;
    font-family: var(--font-chakra-petch);
    padding: 15px;
}

footer>h3 {
    color: var(--color-white);
}

footer>p {
    color: var(--color-white);
    }

footer>p>a {
    color: var(--color-green);
}