header {
    background-color: var(--color-purple);
    top: 0;
    left: 0;
    width: 100%;
}

.title {
    background-color: var(--color-orange);
}

.header__logo {
    height: 40px;
}

.header__home {
    height: 40px;
}