menu>ul>li {
    font-family: var(--font-chakra-petch);
}

.header__menuBtn{
    background-color: var(--color-green);
    width: 30px;
    height: 30px;
    position:absolute;
    top: 74px;
    right: 35px;
   
}